:root{
    --color-dark: #222222;
    --color-light: #f8f9fa;

    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-dark);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.7;
}
